<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Messenger.Properties.Contacts" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Messenger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Messenger.Properties.Contacts>
            <setting name="Contacts1" serializeAs="String">
                <value />
            </setting>
        </Messenger.Properties.Contacts>
        <Messenger.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="AuthKerberosNtlm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuthDigest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoConfigServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>pass</value>
            </setting>
            <setting name="IpProtocol" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReviewLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Realm" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="EndpointId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SettingsUpgrated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncomingMessageSound" serializeAs="String">
                <value>Sounds\imessage.wav</value>
            </setting>
            <setting name="OutgoingMessageSound" serializeAs="String">
                <value>Sounds\omessage.wav</value>
            </setting>
            <setting name="IncomingCallSound" serializeAs="String">
                <value>Sounds\call.wav</value>
            </setting>
            <setting name="NoSplash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestoreConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoAway" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoAwaySeconds" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ShowOffline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGroups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopChat" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LeftChat" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="WidthChat" serializeAs="String">
                <value>408</value>
            </setting>
            <setting name="HeightChat" serializeAs="String">
                <value>338</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDefaultCredential" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSpecifiedCredential" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewSessionDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewLocalVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoSize" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="LeftAvChat" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TopAvChat" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
        </Messenger.Properties.Settings>
    </userSettings>
</configuration>